.form-data{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    max-width: 60%;
    margin: auto;
    margin-top: 2em;
}

.form-button-admin{
    padding: 0.5em;
    margin-top: 1em;
}

.input-bearing-data{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.label-data-admin{
    text-align: center;
}