.contact-headers{
    margin:0 auto;
    text-align: center;
    font-size: 15px;
    margin-bottom: 3em;
    line-height: 22px;
}
.contact-headers p>a{
    color: #719430;
}
.contact-headers p>a:hover{
    text-decoration: underline;
}

