.contacts{
    margin: auto;
    display: flex;
    margin-top: 3em;
    margin-bottom: 4em;
    flex-wrap: wrap;
}

.googlemap{
    width: 100%;
    height: 100%;
    max-width: 500px;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
}
.addres{
    display: block;
    margin: auto;
    font-size: 14px;
    background-color: #ebebeb9f;
    border-radius: 5px;
    position: relative;
    line-height: 0px; 
    text-align: center;
    
}
.contact-info{
    padding: 3em;
}
.contact-info>p, .contact-info>h3{
    line-height: 22px;
}


.contact-head{
    width:5em;
    height: 5em;
    background: #719430;
    border-radius: 100%;
    position: absolute;
    
    top: -2.5em;
    left: 40%;
    
} 

@media screen and (max-width: 435px) {
    .contact-info>p, .contact-info>h3{
        line-height: 20px;
    }
    
}

