
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-ok-1:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
